
.home{
    background-image:linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)), url('../e-commerce-3.jpg');
    height: 100vh;
    background-position: top;
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

.welcome{
    font-family: 'Lobster', cursive;
    text-align: center;
    position: relative;
    top: 20%;
    font-size: 50px;
    color: white;
}

.button{
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: relative;
    top: 30%;
    
}

.shoping{
    background:transparent;
    color:white;
    font-size: 20px;
    width: fit-content;
    height: fit-content;
    padding: 10px 10px;
    border: solid;
    border-color: white;
    text-decoration: none;

}

.how{
    background:transparent;
    color:white;
    font-size: 20px;
    width: fit-content;
    height: fit-content;
    padding: 10px 10px;
    border: solid;
    border-color: white;
    text-decoration: none;
}



.shoping:hover{
    background-color: brown;
    color: white;
    transition: 0.4s ease-in-out;
}

.how:hover{
    background-color: brown;
    color: white;
    transition: 0.4s ease-in-out;
}

@media(max-width: 700px){
    .button{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .shoping{
        margin-bottom: 10px;
    }
}