.signup-cnt{
    background-image: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)), url('../signup.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.signup-box{
    box-sizing: border-box;
    height: 200px;
    width: 250px;
    padding: 200px 250px;
    background-color:black;
    filter: opacity(0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}


.placing{
    display: grid;
}

.info-placing{
    display: flex;
    font-size: 20px;
    margin-bottom: 20px;

}

.user-info{
    margin-right: 30px;
}

.inputs{
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.btn{

    display: flex;
    justify-content: center;
}

.signup-button{
    height: 30px;
    width: 120px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border-color: white;
    font-size: large;
}

.signup-button:hover{
    background-color: brown;
}

@media (max-width: 500px){
    .signup-box{
        box-sizing: border-box;
        height: 200px;
        width: 200px;
        padding: 200px 225px;
    }
}