.watch-container{
    background-image: linear-gradient(rgb(0,0,0,0.5), rgb(0,0,0,0.5)), url('../watch.png');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    justify-content: center;
    text-align: center;
}

.watch{
    position: relative;
    top: 75%;
}